.App {
  text-align: center;
}

.individualEntries{
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.individualEntryDetails{
  display: flex;
  gap: 20px;

}

.individualEntryButtons{
display: flex;
flex-direction: row;
  gap: 20px;
}