:root{
  --color1: #FF1053;
}

.App {
  font-family: 'Comfortaa', cursive;
}



.individualEntryDetails{
display: flex;
  background-color: blanchedalmond;
  text-align: start;
  


}

.inventoryTable{
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  margin: 25px auto;
  gap:10px;
  font-size: 0.9em;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inventoryTable thead tr{
  background-color: var(--color1);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.inventoryTable th,
.inventoryTable td{
  padding: 12px 15px;
}

.inventoryTable tbody tr{
  border-bottom: 1px solid #dddddd;
}

.inventoryTable tbody tr:nth-of-type(even), .inventoryTable tbody tr:nth-of-type(even) .deleteButton {
  background-color: #f3f3f3;
}

.inventoryTable tbody tr:last-of-type{
  border-bottom: 2px solid var(--color1);
}

.editButton {
  background-color:var(--color1);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;
  transition: transform 80ms ease-in;
}
.deleteButton{
background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;
  transition: transform 80ms ease-in;
}

.form{
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding:20px 40px;
margin: 0 auto;
}


/* Add margin between label and input pairs */
.form input {
  margin-bottom: 10px;
}

/* Add specific margin to the submit button */
.form .submitButton input {
  margin-top: 10px;
}

.submitButton input{
  background-color: var(--color1);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-size: 0.9em;
  font-family: 'Comfortaa', cursive;

  cursor: pointer;
  transition: transform 80ms ease-in;
}

.totalDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 100%; 
  /* background-color: aquamarine; */
}



.totalDisplayShift{
  display: flex;
  justify-content: center;
  /* background-color: blueviolet; */
}
@media screen and (min-width: 700px){
  .inventoryTable{
    font-size: 0.8em;
    min-width: 60%
  }
  .totalDisplay{
    flex-direction: row;
    gap: 20px;
  }
  .totalDisplayShift{
    justify-content: flex-end;
  }
}
  
input{
  border: none;
  padding: 5px;
  border-radius: 5px;

}

.title{
  margin: 30px auto;
  width: 20%;
  color: var(--color1);
  text-align: center;
}

.header{
  text-align: center;
  color: var(--color1);
}